html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.support-case-block {
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding:20px;
}
.case-details {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
    color: #393939;
    text-decoration: none;
}

.case-details p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.support-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: sans-serif;
}

    .support-table th, .support-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .support-table th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    .support-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .support-table a {
        margin-right: 8px;
    }